#dropdown{
    display:none;
    background-color: #793939;
}

#dropdown a{
    text-decoration: none;
    color: black;
}

#drop_hover:hover{
    cursor: pointer;
}

#drop_hover:hover #dropdown{
    display:block;
    background-color: aqua;
    color: blue;
}